.List {
  background-color: var(--color3);
  flex-grow: 1;
}
.List .finalInfo {
  background-color: var(--color2);
  box-shadow: var(--shadow);
  color: var(--color4);
  box-sizing: border-box;
  padding-block: 8px;
  padding-inline: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-size: 48px;
}

.List .finalInfo .reset button {
  color: white;
  font-size: 30px;
  padding: 8px;
}

.List .itemList {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-block: 32px;
  gap: 32px;
}

.List .addBtn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-block: 16px;
}

.List .addBtn button {
  padding: 6px;
}

.List .addBtn button > * {
  font-size: 54px;
}

.List .addBtn button:hover {
  background-color: var(--color1);
}
