.ListItem {
  background-color: var(--color3_dark);
  box-shadow: var(--shadow);
  font-size: 20px;
  display: flex;
  max-width: var(--maxWidth);
  width: 80%;
  min-width: 360px;
  padding: 16px;
  border-radius: 10px;
}

.ListItem .left,
.ListItem .right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
  color: var(--color5);
}

.ListItem .left .bottom {
  height: 50%;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.ListItem .left .product {
  width: 100%;
}

.ListItem .left .bottom .volume {
  height: 100%;
}

.ListItem .left .bottom .amount {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 4px;
}

.ListItem .left .bottom .amount input {
  text-align: center;
  width: 40px;
}

.ListItem .right {
  align-items: flex-end;
}

.ListItem .right .deleteBtn {
  width: 36px;
  height: 50%;
  padding: 4px;
}

.ListItem .right .deleteBtn > * {
  font-size: 28px;
}

.ListItem .right .deleteBtn:hover {
  background-color: var(--color1);
}

.ListItem .right .price {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  height: 50%;
  width: 100%;
  font-size: 32px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
