.ListItem {
  background-color: var(--color3_dark);
  box-shadow: var(--shadow);
  font-size: 20px;
  display: flex;
  max-width: 900px;
  min-width: 360px;
  width: 36vw;
  padding: 16px;
}

.ListItem .left,
.ListItem .right {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 50%;
  color: var(--color5);
}

.ListItem .left .product {
  width: 220px;
  height: 100%;
  font-size: 20px;
  box-sizing: border-box;
  height: 50%;
  border-radius: 10px;
  background-color: var(--color3);
  color: var(--color5);
  border: none;
  padding-inline: 6px;
}

.ListItem .left .amount {
  height: 50%;
}

.ListItem .left .amount input {
  width: 80px;
  height: 100%;
  font-size: 18px;
  margin-right: 4px;
  padding-inline: 6px;
  text-align: right;
  box-sizing: border-box;
  border-radius: 10px;
  border: none;
  background-color: var(--color3);
  color: var(--color5);
}

.ListItem .left .amount input::-webkit-outer-spin-button,
.ListItem .left .amount input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.ListItem .right {
  align-items: flex-end;
}
.ListItem .right .deleteBtn {
  width: 36px;
  height: 50%;
  padding: 4px;
}

.ListItem .right .deleteBtn > * {
  font-size: 28px;
}

.ListItem .right .deleteBtn:hover {
  background-color: var(--color1);
}

.ListItem .right .price {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50%;
  font-size: 32px;
}
