.Product {
  background-color: var(--color3_dark);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px;
  border-radius: 10px;
  font-size: 18px;
  box-shadow: var(--shadow);
}

.Product div:not(:first-child) {
  text-align: center;
}

.Product > * {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.Product .name {
  width: 300px;
}

.Product .price {
  width: 140px;
}

.Product .rabat {
  width: 100px;
}

.Product .buttons {
  display: flex;
  width: 88px;
}

.Product .delete,
.Product .edit {
  display: flex;
  justify-content: center;
  height: 100%;
  width: 44px;
}

.Product .delete button,
.Product .edit button {
  padding: 8px;
}
.Product .delete button > *,
.Product .edit button {
  font-size: 24px;
}

.Product .delete button:hover,
.Product .edit button:hover {
  background-color: var(--color1);
}
